---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos de Thomas Dietrich" description="En savoir plus sur Thomas Dietrich, développeur passionné en Logiciel Mobile et IoT">
    <div class="stack gap-20">
        <main class="wrapper about">
            <!-- Hero Section -->
            <Hero
                title="À propos de moi"
                tagline="Découvrez mon parcours et mes passions."
            >
                <img
                    width="1553"
                    height="873"
                    src="/assets/at-work.jpg"
                    alt="Thomas Dietrich au travail"
                />
            </Hero>

            <!-- Section Mon Parcours -->
            <section>
                <h2 class="section-title">Mon Parcours</h2>
                <div class="content">
                    <p>
                        Après une introspection profonde, j'ai quitté le monde de la politique pour me plonger dans l'informatique, un domaine qui a toujours été une source d'évasion pour moi. Inspiré par l'impact du Big Data et les perspectives d'avenir en Data Science, j'ai embrassé cette passion pour en faire ma carrière.
                    </p>
                    <p>
                        Actuellement en Mastère 1 pour un Master Expert en développement Logiciel Mobile et IoT, je suis en alternance chez Capgemini Engineering, où je travaille sur des solutions MES/supervision dans le domaine industriel.
                    </p>
                </div>
            </section>

            <!-- Section Formation -->
            <section>
                <h2 class="section-title">Formation</h2>
                <div class="content">
                    <p>
                        Mon parcours académique en sciences politiques et en marketing/web a enrichi ma perspective sur la technologie. Mes études actuelles en développement logiciel me permettent d'explorer en profondeur des langages tels que JavaScript, PHP, Dart, Java, et plus encore.
                    </p>
                </div>
            </section>

            <!-- Section Philosophie Personnelle -->
            <section>
                <h2 class="section-title">Philosophie Personnelle</h2>
                <div class="content">
                    <p>
                        "Le plaisir dans le travail met la perfection dans l'œuvre." - Aristote
                        <br>
                        Passionné par les défis techniques et l'innovation, je suis animé par une soif d'apprendre et d'améliorer continuellement mes compétences. Mon intérêt pour l'IA et l'intelligence artificielle est un domaine que j'aspire à explorer davantage dans l'avenir.
                    </p>
                </div>
            </section>
        </main>

        <ContactCTA />
    </div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
